*{
    margin:0;
   padding: 0;
   box-sizing:border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFCE99;
    color:#562F00;

}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
}
.left{
   width: 35%;
}
.profile{
    width: 260px;
    height: 320px;
    overflow: hidden;
    border-radius: 140px 140px 20px 20px;
    border: 4px solid #562F00;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left h2 span{
    font-size: 16px;
    font-weight: normal;
}
.left h2{
    font-size: 28px;
    margin-top: 25px;
}
.role{
    font-size: 18px;
    margin: 15px 0 30px;
}
.btn{
    padding: 12px 30px;
    border:2px solid #562F00 ;
    background: none;
    background-color:#FFCE99;
    font-size: 16px;
    cursor: pointer;
    color:#562F00;
}
.email{
    margin: 20px 0 0;
    
}
.right{
    width: 50%;
}
.right h1{
    font-size: 48px;
    margin-bottom: 25px;
}
.right p{
    font-size: 18px;
    line-height: 1.8;
    max-width: 600px;
}
.btn-group{
    margin-top: 40px;
}
.btn-outline{
    margin-right: 20px;
    padding: 12px 40px;
    border: 2px solid #562F00;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color:#562F00;
}
